html, body {
    font-family: 'Lato', sans-serif;
    font-size: 110%;
}

h1 {
    font-weight: 700;
    font-size: 120%;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-weight: 700;
    font-size: 115%;
}

h3{
    font-weight: 700;
    font-size: 110%;
}

.footer_link, .footer_link:hover, .footer_link:visited {
    color: #000000;
    margin-left: 5px;
    margin-right: 5px;
}

a, a:visited {
    color: #000000;
    text-decoration: underline;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

#avatar {
    width: 60%;
    padding: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.text_center {
    text-align: center;
}

.text_right {
    text-align: right;
    padding-top: 10px;
}

.text_gray, .text_gray:hover, .text_gray:visited {
    color: #999999 !important;
}

.text_small {
    font-size: 70%;
}

.line {
    color: #000000;
    size: 1px;
    width: 100%;
}

/*  GRID OF TWO   ============================================================================= */

.span_2_of_2 {
    width: 100%;
}

.span_1_of_2 {
    width: 49.2%;
}

/*  GRID OF THREE   ============================================================================= */

.span_3_of_3 {
    width: 100%;
}

.span_2_of_3 {
    width: 66.13%;
}

.span_1_of_3 {
    width: 32.26%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .span_2_of_2 {
        width: 100%;
    }

    .span_1_of_2 {
        width: 100%;
    }

    .span_3_of_3 {
        width: 100%;
    }

    .span_2_of_3 {
        width: 100%;
    }

    .span_1_of_3 {
        width: 100%;
    }
}
